{% extends "template.html" %}
{% block body_content %}
        <!-- *** INTRO IMAGE ***
    _________________________________________________________ -->
        <div id="intro" class="clearfix">
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="carousel-caption">
                            <h1 data-animate="fadeInDown">Articles</h1>
                            <h2 data-animate="slideInUp">Written By and About Jim</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- *** INTRO IMAGE END *** -->
        <!-- *** Articles ***
    _________________________________________________________ -->
        <div class="section" id="articles">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-md-offset-2">
                			    <div class="article-link">
                                    <h4><a href="/baptism-article">"The Significance of Baptism"</a></h4>
			                            <p>Jim Brinkerhoff wrote this article decades ago to guide a student through explaining the Bible's teaching on baptism. The article gives both practical advice in your stuyding with others, but it also explains Bible passages like Romans 6 so that we can also see the richness of the theology of baptism presented.</p>
                			    </div>
                            </div>
			            </div>

                        <div class="row">
                          <div class="col-md-offset-2">
            			    <div class="article-link">
                              <h4><a href="/cc-interview">Christian Chronicle Interview on Campus Ministry (2003)</a></h4>
                                <p>In 2003, the <em>Christian Chronicle</em> interviewed Jim about campus ministry. This interview shows his passion and vision of campus ministry.</p>
            			    </div>
                          </div>
		        	    </div>
                        <h2 style="text-align:center;">Articles About Jim</h2>
                        <div class="row">
                          <div class="col-md-offset-2">
            			    <div class="article-link">
                              <h4><a href="/welldone">Well done, Jim. Well done.</a></h4>
                              <p>On the day that Jim Brinkerhoff passed away, Scott Dukes, an ACSC student and the ACSC resident intern, wrote this article.</p>
            			    </div>
                          </div>
		        	    </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#about -->

        <!-- *** ARTICLES END *** -->

      <div class="">
      </div>

      {% endblock %}
