{% extends "template.html" %}
{% block body_content %}

        <!-- *** INTRO IMAGE ***
    _________________________________________________________ -->
        <div id="intro" class="clearfix">
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="carousel-caption">
                            <h1 data-animate="fadeInDown">Jim Brinkerhoff (1956-2013)</h1>
                            <h2 data-animate="slideInUp">Remembering Jim through the legacy of his teaching.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- *** INTRO IMAGE END *** -->

        <!-- *** Articles ***
    _________________________________________________________ -->
        <div class="section" id="articles">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12">
                        <h2 class="title" data-animate="fadeInDown">Jim on Campus Ministry</h2>
                            <div class="row">
                              <div class="col-md-offset-2">
				<div id="article">
				  <p>[In Nov. 2003, the Christian Chronicle published an interview with Jim about campus ministry. With Christian Chonicle's permission, we are republishing this article. The interview was conducted by Erik Tryggestad.]</p>

				  <p>---------</p>

				  <p><em>Over the years, well-meaning church members have urged Jim Brinkerhoff to “take on the pulpit.” The implication seems to be that he’s wasting his talents as campus minister for the Auburn, Ala., church — a job he’s had for nearly 20 years.</em></p>

				  <p><em>“At times, I gave it serious consideration,” he admits. “Each time, though, I thought to myself, ‘Where else could I go that carries with it the possibilities of the world vision that is inherent within campus ministries?’ We in campus ministries are among those who can rightfully claim to possess Archimedes’ Lever — ‘Give me a place to stand, and I will move the earth.’”</em></p>

				  <p><em>Brinkerhoff has coached thousands of students during their journeys through the 23,000-student Auburn University. Beginning as a campus ministry intern for the Auburn church in 1980, he was campus minister at Rutgers University in New Jersey briefly before returning to his alma mater, where he heads the Auburn Christian Student Center, with about 300 active members.</em></p>

				  <p><em>Brinkerhoff’s love for campus ministry, which he considers one of “the best kept secrets within our brotherhood,” doesn’t end at Auburn. A two-year intern program trains students within the campus ministry while they take graduate courses at Christian universities. One of the joys of the job is watching the interns, “once shot from the quiver,” make an impact for the Kingdom of God, he said.</em></p>>

                  <p><em>For Brinkerhoff, ministry is a team effort. His peers presented him with the Stephen Eckstein National Campus Ministry Award in 2000, five years after his wife, Mary, received the E. F. “Bessie” Woodward National Campus Ministry Award. The couple has three children: Amy, 14, Anna, 11, and Ben, 9.</em></p>

                  <p><b>What is the makeup of the Auburn Christian Student Center?</b></p>

                  <p>Predominantly, our ministry is made up of those from the churches of Christ. We are extremely aggressive in learning of new students before they arrive, and in building bridges to them once they arrive on campus. We have a “Church of Christ preference-list” (students who mark “Church of Christ” as their religious preference upon entering the university) that hovers at around 600. We see about 50 percent of that number.</p>

<p>Of the other 50 percent that are not involved with us, for the most part, we do not see them from the moment they walk onto campus. If they have enough “faith” to get them through the doors of our church building, we are very successful in integrating them into our church family.</p>

<p>Of course, we have many from other backgrounds that participate with us. There are also a growing number of “un-churched” students who are being drawn into our ministry.</p>

<p><b>What, in your opinion, are the biggest challenges students face during their first year of college?</b></p>

<p>The real “Achilles Heels” on campuses are not the intellectual struggles, but the moral ones. In the past 20 years, dealing with thousands of students, I have never encountered a student abandoning his or her faith because of being overwhelmed with what they heard in the classroom.</p>

<p>The real culprits are the lifestyle decisions that are played out in the privacy of their lives every day, such as sleeping with their boyfriends or girlfriends, addiction to pornography, and going to frat parties. These are the real killers of faith on any campus, which erode away any residue of commitment to God.</p>

<p><b>What do you feel are the biggest myths about state universities?</b></p>

<p>I do want people to know that coming to a state school doesn’t place them at any higher risk of losing their faith than if they go to a Christian school. I have heard for decades, “80 percent of those who go to state schools lose their faith.” This is just not true. I can more easily believe the statement that 80 percent of students who enter our campuses come without their faith ...</p>

<p>In my experience, state campuses are great places to find and cultivate your faith. Of course, I wouldn’t abandon anyone on a campus that doesn’t have a strong church presence and an active campus ministry ...</p>

<p><b>If a high school church member asked you whether he or she should chose a state school or a Christian school, what advice would you give?</b></p>

<p>I guess the question here is, “Where should we send our children?” I might answer that by asking another question, “Where did Jesus take and send his disciples?” — to the lost, the hurting. Our campuses are swarming with these very people. Not only are they lost, but — because of the transitional nature of the college years — they also are more open to listening to God than at any other time in their lives.</p>

<p>In one sense, I believe it comes down to our perception of safety verses risk. If we assume that the testing of our faith is too risky, then going to a state school is something to steer away from. Yes, there is a risk involved, but Jesus understood that “safe” Christians are rarely effective and growing Christians.</p>

<p><b>What attracted you to campus ministry?</b></p>

<p>I was “raised” in the church of Christ, but before I left high school, my heart drifted away from God. I still maintained the outward vestiges of my upbringing, like going to church, but I had been successful at quenching the Spirit.</p>

<p>Upon entering college at Auburn, I quickly jettisoned the remaining vestiges of Christianity, and sought life on my own. Three years later, I emerged with a deep desire to find God. At the time, I did the only thing I knew to do — I went to church. There I encountered Paul Cates, who, at the time, was campus minister with the Auburn church. I was quickly embraced by Paul and reunited with a very proactive and loving group of brothers and sisters. In essence, I found the life that I had lost, and encountered a genuineness of faith that was contagious.</p>

<p><b>What qualities would you look for if hiring a successor?</b></p>

<p>Effective campus ministers should see themselves as missionaries. Although our campus ministries are nestled within loving and supportive churches, campus ministers know that their post is on the frontlines. The campus is our mission field, and the community of believers — which support the campus effort — is the “hospital” where we bring the lost.</p>

<p>It is not enough to simply be able to regurgitate your position on a few chosen doctrines. Personally, I have never had the luxury of creating my own questions and then answering them. If I am to be effective, I must be willing to face what the world has to say on its own terms. While it is possible to create campus ministries that are withdrawn from campus life, to me that clearly defeats the purpose.</p>

<p>The trends on the campus today are what we’ll see on the face of America tomorrow. Thus, the campus minister must be brave enough and flexible enough to pioneer ways of reaching the lost, often within a church context that resists change.</p>

<p>Bottom line, the campus minister must have “spiritual guts.” Campus ministry is not a place to settle down and retire.</p>

<p><b>Is longevity good in campus ministry?</b></p>

<p>In my early years, turnover in campus ministry positions was frequent. It was also a turbulent area of ministry due to the “Crossroads Movement” (Now known as the International Churches of Christ). In recent years, I’ve come to realize that there is an increasing number of campus ministers who perceive themselves as staying in the trenches for the long term.</p>

<p>Longevity enables the development of expertise and wisdom. To simply use a campus ministry position as a weigh station before going on to something more “responsible,” is to underestimate the potential of campus ministry, while trivializing the profound impact campuses have upon our culture at large.</p>

<p><b>What challenges accompany this longevity in campus ministry?</b></p>

<p>The difficulty is being able to stay relevant in the radically changing world of the campus culture. You must also maintain the high energy levels necessary to keep up with the time demands of campus life.</p>

<p>At the same time, you must hold onto a vision which will sustain you through repeated disappointments and failure.</p>

<p><b>Who do you predict will win the NCAA national championship?</b></p>

<p>Hands down, Oklahoma. But I wish I could say “Auburn!”</b>
                        </div>
                      </div>
                    </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /#about -->

        <!-- *** ABOUT END *** -->

      <div class="">
      </div>

      {% endblock %}
