{% extends "template.html" %}
{% block body_content %}
        <!-- *** INTRO IMAGE ***
    _________________________________________________________ -->
        <div id="intro" class="clearfix">
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="carousel-caption">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- *** INTRO IMAGE END *** -->

        <!-- *** Articles ***
    _________________________________________________________ -->
        <div class="section" id="articles">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12">
                        <h2 class="title" data-animate="fadeInDown">Well done, Jim.<br>Well done.</h2>
                        <div class="row">
                          <div class="col-md-offset-2">
                        <div id="article">

                            <p>I type tonight through unbridled tears.</p>
                            <p>My mentor, my spiritual guide, my minister, my encourager, my supporter, and one of my truest and deepest friends passed away today.</p>
                            <p>Jim Brinkerhoff died suddenly and unexpectedly this morning, and he leaves unfillable holes in so many people. So many thoughts cloud my head right now – favorite memories, great sermons, his quirky sense of humor. There’s a time for that, for nostalgia and for remembering, but for me, tonight isn’t that time.</p>
                            <p>Tonight is a night for imagination.</p>
                            <p>Jim once said that “God purposely invites us to imagine what heaven can be like, because we can only desire what we can imagine.” So tonight, let’s imagine. Let’s imagine the joy, the revelry, the unstoppable and rampant celebration going on in heaven tonight. Because I am utterly convicted that Jim is there right now. He might be talking to Christ himself, asking him to answer some deep theological question he could never quite answer. And I can only imagine Christ, looking at our beloved Jim, chuckling and smiling. And right about now, Jesus is probably telling Jim…</p>
                            <p>“Well done, my good and faithful servant.</p>
                            <p>“Your life was a testament to the saving grace of Christ. You found Christ in college, after years without, and devoted the rest of your days on earth to helping others find Him, too. You constantly pointed to the cross. Indeed, your life was a beacon that shone on Jesus. You stayed out of the spotlight, but in your life, and through your deeds, Christ radiated.</p>
                            <p>“Well done, my good and faithful servant.</p>
                            <p>“You showed so many what a godly husband looks like – a man who loves his wife, with everyone knowing it. You devoted your marriage to spreading the Gospel and caring for others. You loved Mary, like Christ loves his church. Sure, you often disagreed with her, or didn’t really hear what she was saying, but you loved her. Through the darkest of nights and the brightest of days, you loved her. You leave behind a godly wife, a true rock, a good and faithful servant in her own right. And you never quit loving her.</p>
                            <p>“Well done, my good and faithful servant.</p>
                            <p>“You were a true father. You found joy in your three children, in FaceTime-ing them after devo, in taking goofy pictures with them. You proudly displayed their little league trophies in your office, and never took them down. You spent weeks nursing back to health your daughter’s cat after slamming its head in the door. But most importantly, you raised three godly children – Princess Amy, Anna Banana, and Benny-Boy Benny-Boy – to carry on your legacy. And carry it they will.</p>
                            <p>“Well done, my good and faithful servant.</p>
                            <p>“You devoted your life to a small building in a small town in Alabama. Your office was small, your bookshelves were overcrowded, your computer rarely worked. Your podium was an unassuming, rather dingy octagon. Your audience sat in plastic, uncomfortable, but meticulously arranged chairs. But from those rags came eternal riches. The people who sat in those plastic, uncomfortable, but meticulously arranged chairs, watching you pace on that unassuming, rather dingy octagon, left that small building in that small town in Alabama and spread across the world, covering cities, states, nations, and continents, accepting your challenge and fulfilling God’s mission. You live on through them. And they will never let you leave their hearts.</p>
                            <p>“Well done, my good and faithful servant. </p>
                            <p>“You leave a ministry of some 200+ students, without their minister, mentor, and friend. But by God, you didn’t leave them unprepared. Instead, through divine irony, you left them more focused, more energized, more committed, and more consumed than ever before. And so they—we—will press on. They will run with endurance the race marked out for them. And they’ll fix their eyes on Jesus, now and forevermore. So yes, you leave a ministry of some 200+ students, but you leave them grateful for your service, spurred by your teaching, and inspired by your life.</p>
                            <p>“Well done, my good and faithful servant.</p>
                            <p>“You won. Your dreams have come true. You imagined big, but what you’ve now found is bigger and better.  You conquered death. Death had no sting and your grave has no victory. But your soul stands victorious, crowned with your legacy, robed in your memory, surrounded by the fruit of your labors. You stand triumphant on earth’s battlefield. And servants of the enemy lay exposed, rejected, and slain at your feet. You spent your life in battle – warring the doubts, temptations, and questions that plague struggling Christians. You won many battles, and now you’ve won the war.  </p>
                            <p>“Well done, my good and faithful servant.</p>
                            <p>“You served. You loved. You taught. You learned. You humbled and stayed humble.<br>
                            You helped. You noticed. You cared. You listened.<br>
                            You tried. You persisted. You believed. You dreamed.<br>
                            You baptized. You married. You nurtured. You gave.<br>
                            You fought. You maintained. You won.<br>
                            You laughed. You clapped. You sang. You enjoyed. You delighted.<br>
                            You made a difference. You changed lives. You changed the world. You changed the Kingdom.<br>
                            You lived. You died. Today, you celebrate. And because of the life you lived, everyone you left can celebrate too.</p>
                            <p style="text-decoration:bold">“Well done, my good and faithful servant.”</p>


                        <p style="text-align:right;">~ Scott Dukes (11.5.2013)</p>
                        </div>
                      </div>
                    </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /#about -->

        <!-- *** ABOUT END *** -->

      <div class="">
      </div>

      {% endblock %}
